* {
    text-align: center; 
}

body {
    background-image: url(images/background.jpg);
}

a {
    text-decoration: none;
    color: black;  
}

p {
    font-size: 20px;
}


.round {
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(75, 253, 30, 0.877), 0 0 13px rgb(79, 245, 46);
}

.none {
    list-style-type: none;
}

li {
    font-size: 20px;
}